<form action="/benders" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new bender:</p>
  <input type='text' name='bender[title]'/><br/>
  <textarea name='bender[description]'></textarea><br/>
  <input type='submit'/>
</form>